.benefits {
    background-color: #f6f6f6;
    padding: 70px 0 78px 0;
    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        display: block;
        margin: 0 auto;
        &_animated {
            animation-name: heartbeat;
            animation-duration: 1.5s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
        }
    }
    &__subheader {
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
        text-align: center;
        margin-top: 38px;
    }
    &__descr {
        width: 240px;
        margin-top: 26px;
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
        color: #0d0d0d;
        text-align: center;
        a {
            color: #ff0000;
        }
    }
}